<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'maintenance' %}active{% endif %}"
           href="{% url 'result-plan' 'maintenance'  tdee  %}">Maintenance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'cutting' %}active{% endif %}"
           href="{% url 'result-plan' 'cutting' tdee  %}">Cutting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'bulking' %}active{% endif %}"
           href="{% url 'result-plan' 'bulking' tdee  %}">Bulking</a>
    </li>
</ul>
		{% if active_tab == "maintenance" %}
		<p class= "mt-3">These macronutrient values reflect your maintenance calories of <strong>{{tdee}}</strong> calories per day.</p>
		{% elif active_tab == "cutting" %}
		<p class= "mt-3">These macronutrient values reflect your cutting calories of <strong>{{macro.moderate_carb.calories}}</strong> calories per day, which is a 500 calorie per day deficit from your maintenance of <strong>{{tdee}}</strong> calories per day.</p>
		{% elif active_tab == "bulking" %}
		<p class= "mt-3">These macronutrient values reflect your bulking calories of <strong>{{macro.moderate_carb.calories}}</strong> calories per day, which is +500 calories per day from your maintenance of <strong>{{tdee}}</strong> calories per day.</p>
		{% endif %}
		<p class="text-end small text-muted">30/35/35 means 30% protein, 35% fats, 35% carbs</p>
		<div class="row text-center">
			<div class="col-md-4">
				<div class="macro-card">
				<div class="macro-badge">Moderate Carb (30/35/35)</div>
				<h5>{{macros.moderate_carb.protein}}g</h5><span>protein</span><hr>
				<h5>{{macros.moderate_carb.fats}}g</h5><span>fats</span><hr>
				<h5>{{macros.moderate_carb.carbs}}g</h5><span>carbs</span><hr>
			</div>
			</div>
			<div class="col-md-4">
				<div class="macro-card">
				<div class="macro-badge">Lower Carb (40/40/20)</div>
				<h5>{{macros.lower_carb.protein}}g</h5><span>protein</span><hr>
				<h5>{{macros.lower_carb.fats}}g</h5><span>fats</span><hr>
				<h5>{{macros.lower_carb.carbs}}g</h5><span>carbs</span><hr>
			</div>
			</div>
			<div class="col-md-4">
				<div class="macro-card">
				<div class="macro-badge">Higher Carb (30/20/50)</div>
				<h5>{{macros.higher_carb.protein}}g</h5><span>protein</span><hr>
				<h5>{{macros.higher_carb.fats}}g</h5><span>fats</span><hr>
				<h5>{{macros.higher_carb.carbs}}g</h5><span>carbs</span><hr>
			</div>
			</div>

