{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "calculator/index.css" %}"/>
{% endblock  %}

{% block content %}
<div class= "container-fluid">
    <div class="row">
        <div class="container mt-5">
            <div class="card p-4 shadow-lg">
            <h2 class="text-center mb-4">TDEE Calculator</h2>
            <form action = {% url "index" %} method= "post">
                {% csrf_token %}
                {{form}}
                <button type="submit">Calculate TDEE</button>
            </form>
            <p>Returning user? Access your history <a href="{% url "history-dashboard" %}">here!</a> </p>
            </div>
        </div>
        {% if active_tab %}
            <div class="container mt-5">
                <div class="calories-box">
                    <h6 class="text-center fw-bold">Your Maintenance Calories</h6>
                    <div class="calories-value">{{tdee}}</div>
                    <div class="calories-label">calories per day</div>
                </div>
            <h2>Macronutrients</h2>
                {% include "calculator/includes/content.html" %}
                <p class="mt-3">There are 4 calories per gram of both protein and carbohydrates, and 9 calories per gram of fats.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock  %}