.form-control[readonly] {
	background-color: #e9ecef;
	border: none;
	width: auto;
	min-width: 150px;
	text-align: center;
}
.form-control {
	text-align: center;
}
.modal-body {
	text-align: center;
}