.container {
	background: white;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width:400px;
	text-align: center;
	margin-top: 100px;
}
.container h2 {
	margin-bottom: 20px;
}
label {
	display: block;
	margin: 10px 0 5px;
}
input {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 25px;
	text-align: center;
}
select, button {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 25px;
	text-align: center;
}
button {
	background-color: #28a745;
	color: white;
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: #218838;
}
.form-check {
	display: flex;
}
#username::placeholder {
	font-size: 12px; /* Adjust size */
	color: #6c757d; /* Optional: Make it slightly lighter */
}