{% load static bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock  %}</title>
	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static "base-app.css" %}"/>

	{% block css_files %}{% endblock css_files %}

</head>
<body>
	<header class="text-white text-start py-3">
		<h1><a class="text-white text-decoration-none" href={% url "index" %}>TDEE</a></h1>
	</header>

	{% block content %}{% endblock  %}
</body>
</html>